<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mds.sync-pull</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lc</string>
        <string>"$HOME/MDS/mds-diversified/scripts/mds-sync.sh" pull &gt;&gt; "$HOME/MDS/.logs/sync-pull.log" 2&gt;&amp;1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
